{% extends "main_base.html" %}
{% load i18n %}
{% block main_content %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">InspecOrg</a>
        <!-- <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul> -->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">
    <div class="col s6">
        <div class="card s12 m3">
            <div class="card center">
                {% load static from staticfiles %}
                <span class="card-title">Inspec | Login</span>
            </div>
            <div class="card-content">
                <span><i class="fa-2x fa-eye" aria-hidden="true"></i></span>
                <form action="/login/" method="POST">
                    {% csrf_token %}
                    <div class="input-field col s3">
                        <i class="fa fa-user prefix"></i>
                        <input  id="username" name="username" placeholder="Nome de Usuário"type="text" class="validate">
                    </div>
                    <div class="input-field col s3">
                        <i class="fa fa-key prefix"></i>
                        <input id="password" name="password" placeholder="Senha" type="password" class="validate">
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Entrar
                    <i class="material-icons right"></i>
                    </button>
                </form>
            </div>
            <div class="card-action">
                <a href="/signup/">Novo? Cadastre-se</a>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}