{% extends "main_base.html" %}
{% load i18n %}
{% block main_content %}
    <div class="row">
        <div class="container col s12">
            <!-- Teal page content  -->
            {% if convenios %}
                {% for convenio in convenios %}
                    <ul class="collapsible " data-collapsible="accordion">
                        <li>
                            <div class='collapsible-header blue-text text-darken-2'>{{convenio.programa.nm_programa}}</div>
                            <div class='collapsible-body'>
                            <span>
                                    <a href="{% url 'convenio_detail' convenio_id=convenio.id %}" class="waves-effect waves-light btn right indigo darken-3">Ver Mais Info</a>
                                    <a href="" class="waves-effect waves-light btn right">Assinar</a>
                            </span>
                                <p>Orgão Responsável: {{convenio.superior.nm_orgao_superior}}</p>
                                <p>Proponente: {{convenio.proponente.nm_proponente}}</p>
                                <p>Unidade da Federação: {{convenio.proponente.uf_proponente}}</p>
                                <p>Responsável: {{convenio.proponente.nm_respons_proponente}}</p>
                                <p>{{convenio.proponente.municipio_proponente}}</p>
                                <p>{{convenio.proponente.tx_regiao_proponente}}</p>
                                <p>{{convenio.proponente.tx_esfera_adm_proponente}} </p>
                            </div>

                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if not convenios %}
                <div class="col s9">Sem resultados</div>
            {% endif %}
        </div>
    </div>
</div>

<script>    
     // Initialize collapse button
  $(".button-collapse").sideNav();
</script>
{% endblock main_content %}